@font-face {
    font-family: 'futura_mdcn_btmedium';
    src: url('../fonts/futuramc-webfont.eot');
    src: url('../fonts/futuramc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuramc-webfont.woff') format('woff'),
         url('../fonts/futuramc-webfont.ttf') format('truetype'),
         url('../fonts/futuramc-webfont.svg#futura_mdcn_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
  background: #FFFFFF;
  height: 100%;
}
a.deutch
{
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #000;
  display: block;
  padding: 9px 7px;
  text-decoration: none;
}
a.deutch:hover
{
  background: #FFF;
}
div.deutch
{
  position: absolute;
  right: 50px;
  top: 0;
}
footer
{
  clear: both;
  color: #D1FFBF;
  height: 85px;
  margin-top: 25px;
  padding: 20px 30px;
  text-align: center;
}
footer a{
  color: #FFF;
}
header
{
  clear: both;
  height: 675px;
  overflow: hidden;
  padding: 30px 40px 0;
  position: relative;
}
header .slogan
{
  color: #00339A;
  font-size: 25px;
  font-style: italic;
  margin-top: 30px;
  text-align: right;
}
header .menu
{
  list-style: none;
  margin-left: 195px;
  margin-top: 35px;
  width: 340px;
}
header .menu li
{
  line-height: 1;
}
header .menu li a
{
  background: url(../images/micrositios.png) no-repeat;
  display: block;
  width: 346px;
  height: 165px;
  text-indent: -9999px;
}
header .menu li a:hover
{
  background-position: -351px 0;
}
header .menu li:nth-child(2) a
{
  background-position: -1px -201px ;
  height: 99px;
}
header .menu li:nth-child(2) a:hover
{
 background-position: -351px -200px ;
}
header .menu li:nth-child(3) a
{
  background-position: -1px -350px ;
  height: 102px;
}
header .menu li:nth-child(3) a:hover
{
  background-position: -350px -349px ;

}

header .menu li:nth-child(4) a

{

  background-position: 0 -500px ;
  height: 103px;
}

header .menu li:nth-child(4) a:hover

{

  background-position: -350px -502px ;

}

header .certificado_responsabilidad

{

  text-align: right;

}

nav

{

  background: #243E90;

  -webkit-border-top-left-radius: 15px;

  -webkit-border-top-right-radius: 15px;

  -moz-border-radius-topleft: 15px;

  -moz-border-radius-topright: 15px;

  border-top-left-radius: 15px;

  border-top-right-radius: 15px;

  font-family: 'futura_mdcn_btmedium', sans-serif;

  height: 45px;

  margin: 0 20px;

  /*width: 100%;*/

}

nav ul.menu

{

  list-style: none;

  margin: 0;

}

nav ul.menu li

{

  float:left;

  text-align: center;

}

nav ul.menu li a

{

  color: #F5F5F5;

  display:block;

  font-size: 20px;

  padding: 13px 20px;

}


nav ul.menu li.active a
{
  background: #FAD602;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #3A3300;
  text-decoration: none;
}

nav ul.menu li a:hover
{
  color: #FAD602;
  text-decoration: none;
}

section#content

{

  background: #FAD602;

  -webkit-border-top-left-radius: 15px;

  -webkit-border-top-right-radius: 15px;

  -moz-border-radius-topleft: 15px;

  -moz-border-radius-topright: 15px;

  border-top-left-radius: 15px;

  border-top-right-radius: 15px;

  clear: both;

  color: #3A3300;

  font-size: 18px;

  margin: -1px auto 0;

  overflow: hidden;

  padding: 40px;

  width: 900px;

}

section#content a

{

  color: #243E90;

  font-weight: bold;

}

section#content img

{

  margin-right: 10px;

}

section#content .descargar_logosimbolo

{

  background: #243E90;

  border-radius: 10px;

  clear: both;

  color: #FFF;

  font-size: 22px;

  font-weight: bold;

  margin-top: 90px;

  overflow: hidden;

  padding: 4px;

}

section#content .descargar_logosimbolo a

{

  background: #879D45;

  border: 4px solid #5A7900;

  border-radius: 10px;

  color: #FFF;

  display: block;

  float: right;

  font-size: 25px;

  font-style: italic;

  padding: 9px 14px;

  text-decoration: none;

}

section#content .descargar_logosimbolo a:hover

{

  background: #FFF20F;

  border-color: #FFF20F;

  color: #67613A;

}

section#content .descargar_logosimbolo span

{

  display: block;

    float: left;

    margin: 13px 0 0 60px;

}

div#aiContactSafe_mainbody_1 div.aiContactSafe_contact_form_field_label_left
{
  padding-top: 4px;
}
.aiContactSafe label
{
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
}
.aiContactSafe .textbox, 
.aiContactSafe .email, 
.aiContactSafe .editbox
{
  background: #968401;
  border-color: #6F6101;
  border-radius: 10px;
  color: #FFF;
  font-size: 21px;
  padding: 8px;
}
.aiContactSafe .aiContactSafe_row_aics_message .aiContactSafe_contact_form_field_right

{

  padding-left: 20px;

}

.aiContactSafe .countdown_div

{

  display: none;

}

.aiContactSafe #aiContactSafeSend

{
  float: right !important;
}
.aiContactSafe #aiContactSafeSendButton
{
  background: #FFF545;
  border: 3px solid #FFF20F;
  border-radius: 5px;
  color: #666139;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}
.f_left
{
  float: left;
}
.f_right
{
  float: right;
}
.historia{
  column-count: 2;
  column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -o-column-count: 2;
  -o-column-gap: 40px;
}
.lista_logosimbolo
{
  margin-left:330px;
}
.lista_logosimbolo li
{
  margin-bottom: 20px;
}
#header_image
{
  height: 750px;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#header_image_image
{
  height: 750px;  
  width: 100%;
}
#main
{
  background: url("../images/bg.png") repeat-y scroll center top;
  margin: 0 auto;
  width: 1000px;
}